.mytext{
    text-align: justify;
}

#aboutus{
    
    background-image: url('../images/about.jpg');
    height: 350px;
    background-size: cover;
}

.bnav li{
    display: inline;
    margin-left: 20px;
    font-weight: 500;
}

.sml li {
    display: inline;
    margin-left:20px; 
    padding:  15px;
    border-radius: 50%;
}
   
.ufl li a{
    text-decoration: none;
}


#contactus{
    
    background-image: url('../images/ctsus.jpg');
    height: 500px;
    background-size: cover;
    margin-top: -20px;
    
}